* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #eee;
    --grey: #252423;
    --grey2: #8B8B8B;
    --red: #C00511;
    --grey3: #C4C4C4;
    --dark: #0D0D0D;
    --ag: #8B8B8B;
    --grey4: #7A7A7A;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.main_header {
    height: 100vh;
    width: 100%;
    background: url('./images/image\ 1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_shadow {
    background: rgba(13, 13, 13, 0.77);
    height: 100%;
}

.header_head_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
}

.logo {
    width: 137px;

}

/* umumi elave class yaradib umumi olcu veririk header_head_con 2ci clas kimi yazirig */
.container {

    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.nav_list {
    display: flex;
    gap: 60px;
}

.nav_list li a {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 400;
}

.header_icons_container {
    display: flex;
}

.ring_bell {
    margin-left: 58px;
    margin-right: 28px;
}

.inp_icon input {
    border: none;
    outline: none;
    background: none;
    color: var(--white);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 200;
}

.inp_icon {
    display: flex;
    gap: 8px;
    align-items: center;
}

.header_second_list {
    display: flex;
    gap: 34px;
}

.header_middle_container {
    margin-top: 153px;
}

.header_middle_container h1 {
    color: var(--white);
    font-size: 5.4rem;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 23px;
}

.header_first_list {
    display: flex;
    gap: 12px;
}

.header_first_list li:not(:last-child) {
    border-right: 1px solid var(--white);
    padding-right: 12px;
}

.header_first_list li {
    color: var(--white);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
}

.header_middle_container p {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 22px;
    margin-top: 35px;
    margin-bottom: 40px;
    max-width: 445px;

}

.header_btns {
    display: flex;
    gap: 47px;
}

.first_child {
    border-radius: 99px;
    background: rgba(207, 0, 15, 0.90);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 47px;
    border: none;
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 16px 36px;
}



/* .header_second_list li:not(:last-child) {
    margin-right: 34px;
} */

.header_second_list li {
    margin-bottom: 51px;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;

}

.last_child {
    border-radius: 99px;
    border: 0.3px solid rgba(255, 255, 255, 0.30);
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(15px);
    padding: 16px 36px;
    color: var(--red);
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 11px;
}



.section_header div {
    background: linear-gradient(140deg, #C00511 0%, rgba(192, 5, 17, 0.00) 100%);
    width: 291px;
    height: 6px;
    margin-left: 43px;

}

.section_header {
    display: flex;
    align-items: center;
    padding-top: 80px;
    margin-bottom: 72px;
}

.section_header_container button {
    background: none;
    border: none;
    color: var(--grey3);
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 32px;
}

.section_header h2 {
    color: var(--white);
    font-size: 3.2rem;
    font-weight: 500;
}


.video_card {
    min-width: 358px;

}

.video_card video {
    width: 100%;
}

.video_card h3 {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 17px;
}

.videos_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(358px, 1fr));
    gap: 48px;
}

.slider_parent_container {
    display: flex;
    max-width: 1256px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
/* .section1_container svg{
    margin-left: 100px;
} */
/* .slider_parent_container svg{
margin-left: 26px;
margin-right: 26px;
} */


.slider_container {
    display: flex;
    gap: 37px;
    overflow: hidden;
}

.slider_card {
    min-width: 265px;
    transition: 1s ease-in-out;
}

.slider_card img {
    width: 100%;
    height: 392px;
    object-fit: cover;
}

.slider_card h3 {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 17px;

}

.load_more {
    color: var(--white);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 99px;
    background: var(--red);
    border: none;
    margin-top: 51px;
    padding: 10px 20px;
    display: block;
    /* margin-right: auto; */

}

.load_more:last-child {
    margin-bottom: 74px;
    display: inline-block;
}

.section3_head_container {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 60px;
    position: relative;

}

.section3_head_container img {
    /* width: 5%; */
    /* margin-bottom: 60px; */
}

.section3_head_container div p {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 24px;
}

.section3_head_container div p span {
    color: var(--grey2);
    font-size: 1.2rem;
    font-weight: 400;

}

.section3_header_container h3 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 45px;
    margin-top: 188px;

}

.last_section_child {
    margin-top: 58px;
}

/* .active {
    border-radius: 4px;
    border: 0.3px solid rgba(255, 255, 255, 0.30);
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(15px);
    display: flex;
    width: 1131px;
    height: 97px;
    padding: 10px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 33px;
} */

/* .active p {
    color: var(--white);
    font-size: 2rem;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
} */

/* .section3_head_container :last_child{
    margin-top: 58px;
} */
.section3_header_container button {
    color: var(--grey2);
    font-size: 1.2rem;
    font-weight: 500;
    background: none;
    border: none;
    outline: none;
    margin-bottom: 71px;
}

.section3_header_container h3 span {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;

}

.footer_logo {
    width: 137px;
}

.footer_img_container {
    display: flex;
    /* margin-bottom: 35px; */
    margin-top: 46px;
    justify-content: center;
    gap: 5px;
}

.footer_img_container img {
    margin-bottom: 35px;
    border-radius: 5px;
    background: url(<path-to-image>), lightgray -1.213px -2px / 102.211% 106.818% no-repeat;
}

footer {
    background-color: var(--grey);
    /* padding-top:74px; */
}

.footer_container {
    padding-top: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_list {
    display: flex;
    gap: 69px;
}

.footer_list li a {
    color: var(--grey2);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.footer_icons_container svg {
    gap: 30px;
    max-width: 194px;
}

.entrance_header {
    background: url('./images/cinema-hall-interior-designing-500x500.webp');
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.entrance_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 135px;
    padding-bottom: 137px;

}

.entrance_btns {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.entrance_btns button:first-child {
    border-radius: 90px;
    border: 1px solid var(--white);
    background: rgba(217, 217, 217, 0.16);
    padding: 10px 105px;
    color: var(--red);
    font-size: 1.8rem;
    font-weight: 700;
}

.entrance_btns button:last-child {
    border-radius: 90px;
    border: 2px solid var(--red);
    background: var(--red);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px 97px;
}

.entrance_logo {
    width: 195px;
}

.login_header {
    height: 100vh;
    background-color: var(--dark);
}

.login_container h1 {
    color: var(--white);
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 128px;
}

.login_container label {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;

}

.login_container {
    padding-top: 121px;
}

.login_container div {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.login_container form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.login_container div:nth-child(2) {
    margin-top: 23px;
    margin-bottom: 31px;
}

.login_container input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(196, 196, 196, 0.61);
    padding-bottom: 8px;
    color: var(--ag);
    font-size: 1.4rem;
    font-weight: 400;

}

.logina {
    color: var(--ag);
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 31px;
    /* margin-bottom: 188px; */
}

.login_btn {
    color: var(--red);
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 90px;
    padding: 10px 105px;
    background-color: rgba(217, 217, 217, 0.16);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 145px;
    border: 1px solid var(--white);
}

.register_header {
    height: 100vh;
    background-color: var(--dark);
}

.register_container {
    padding-top: 121px;
}

.register_container h1 {
    color: var(--white);
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.register_container label {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
}

.register_container div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.register_container form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.register_container input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(196, 196, 196, 0.61);
    padding-bottom: 8px;
    color: var(--ag);
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 23px;

}

.register_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 105px;
    border-radius: 90px;
    border: 2px solid var(--red);
    background: var(--red);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 20px;
}

.login_btn {
    color: var(--red);
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 90px;
    padding: 10px 105px;
    background-color: rgba(217, 217, 217, 0.16);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid var(--white);

}

.login_container .register_btn {
    margin-top: 20px;
}

.register_container .login_btn {
    margin-top: 20px;
}


.register_err,
.login_err {
    color: var(--red);
    text-align: center;
    margin-top: 8px;
}

.svg {
    display: flex;
    gap: 20px;
}

.header_2 {

    background-color: var(--dark);
}

.div_cast {
    display: flex;
    gap: 20px;
    /* flex-direction: column; */
}

.div_cast h2 {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}




.section_1 {
    display: flex;
}

.logged_container svg {
    fill: var(--white);

}

.logged_container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.logged_container p {
    color: var(--white);
}

.bars_icon {
    display: none;
    width: 18px;
    margin-left: 8px;
}

.close_icon {
    display: none !important;
}

.movies_header {
    background-color: var(--dark);
    height: 100vh;
}

.kimi_card div {
    display: flex;
    align-items: center;
}

.kimi_card div svg {
    margin-right: 16px;
    margin-left: 22px;
}

.kimi_card div:last-child p:first-child {
    display: flex;
    align-items: center;
}

.kimi_card p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--ag);
}

.kimi_card img {
    margin-bottom: 24px;
}

.kimi_card div:last-child {
    margin-top: 10px;
}

.movies_header_first_card h1 {
    color: var(--white);
    font-size: 3.2rem;
    font-weight: 800;
    margin-top: 71px;
    margin-bottom: 28px;
}

.movies_header_middle_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 109px;
}

.movies_header_btns {
    display: flex;
    gap: 47px;
    margin-bottom: 29px;
}

.movies_header_btns button {
    background: none;
    border: none;
    color: var(--ag);
    font-size: 2rem;
    font-weight: 400;

}

.movies_header_btns button:first-child {
    color: var(--red);
    border-bottom: 2px solid var(--red);
    padding-bottom: 9px;

}

.movies_header_second_card p {
    font-size: 2rem;
    font-weight: 400;
    background: linear-gradient(180deg, #8B8B8B 86.46%, rgba(139, 139, 139, 0.00) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 69px;
}

.movies_header_btns2 {
    display: flex;
    gap: 73px;
    align-items: center;
}

.movies_header_btns2_inner {
    display: flex;
    gap: 18px;
}

.movies_header_btns2 button {
    border-radius: 90px;
    background: var(--red);
    border: none;
    padding: 14px 55px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
}

.movies_header_btns2_inner div {
    width: 47px;
    height: 47px;
    border: 1px solid rgba(255, 255, 255, 0.52);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--dark);
}

.section2_container h2 {
    color: var(--white);
    font-size: 3.2rem;
    font-weight: 500;
}

.section3_h3 {
    color:var(--grey4);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 38px;

}

.section1_container h2 {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 58px;
    text-align: center;
}

.section1_header_container {
    display: flex;
    justify-content: space-between;
}

.section1_header_container h3 {
    color: var(--grey4);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    /* margin-top: 10px; */
    margin-bottom: 33px;

}

.coments_content {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 25px;

}
.first_p {
    color: var(--red);
    font-size: 1.4rem;
    font-weight: 6oo;
    margin-bottom: 5px;
}

.second_p {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 4oo;
    align-items: center;
}

.coments_content svg {
    margin-top: 22px;
    /* align-items: center;
    justify-content: center;
    display: flex; */
}

.videos_container_second {
    max-width: 773px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(373px, 1fr));
    gap: 27px;
}

.video_card_second {
    min-width: 373px;
}

.video_card_second video {
    width: 100%;
}



.main_head_container .container {
    background-color: var(--dark);
}

.div_cast {
    display: flex;
    align-items: center;
}

.blur{
    border-radius: 4px;
border: 0.3px solid rgba(255, 255, 255, 0.30);
background: linear-gradient(225deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
backdrop-filter: blur(15px);
position: absolute;
width: 100%;
height: 97px;
display: flex;
align-items: center;
justify-content: center;
}