* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --black: #eee;
    --grey: #252423;
    --grey2: #8B8B8B;
    --red: #C00511;
    --grey3: #C4C4C4;
    --dark: #0D0D0D;
    --ag: #8B8B8B;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.main_header {
    height: 100vh;
    width: 100%;
    background: url('./images/image\ 1.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg_shadow {
    background: rgba(13, 13, 13, 0.77);
    height: 100%;
}

.header_head_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
}

.logo {
    width: 137px;

}

/* umumi elave class yaradib umumi olcu veririk header_head_con 2ci clas kimi yazirig */
.container {

    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.nav_list {
    display: flex;
    gap: 60px;
}

.nav_list li a {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 400;
}

.header_icons_container {
    display: flex;
}

.ring_bell {
    margin-left: 58px;
    margin-right: 28px;
}

.inp_icon input {
    border: none;
    outline: none;
    background: none;
    color: var(--white);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 200;
}

.inp_icon {
    display: flex;
    gap: 8px;
    align-items: center;
}

.header_second_list {
    display: flex;
    gap: 34;
}

.header_middle_container {
    margin-top: 153px;
}

.header_middle_container h1 {
    color: var(--white);
    font-size: 5.4rem;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 23px;
}

.header_first_list {
    display: flex;
    gap: 12px;
}

.header_first_list li:not(:last-child) {
    border-right: 1px solid var(--white);
    padding-right: 12px;
}

.header_first_list li {
    color: var(--white);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
}

.header_middle_container p {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 22px;
    margin-top: 35px;
    margin-bottom: 40px;
    max-width: 445px;

}

.header_btns {
    display: flex;
    gap: 47px;
}

.first_child {
    border-radius: 99px;
    background: rgba(207, 0, 15, 0.90);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 47px;
    border: none;
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 16px 36px;
}



.header_second_list li:not(:last-child) {
    margin-right: 34px;
}

.header_second_list li {
    margin-bottom: 51px;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;

}

.last_child {
    border-radius: 99px;
    border: 0.3px solid rgba(255, 255, 255, 0.30);
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(15px);
    padding: 16px 36px;
    color: var(--red);
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 11px;
}

main {
    background-color: var(--dark);
}

.section_header div {
    background: linear-gradient(140deg, #C00511 0%, rgba(192, 5, 17, 0.00) 100%);
    width: 291px;
    height: 6px;
    margin-left: 43px;
}

.section_header {
    display: flex;
    align-items: center;
    padding-top: 80px;
}

.section_header_container button {
    background: none;
    border: none;
    color: var(--grey3);
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 32px;
}

.section_header h2 {
    color: var(--white);
    font-size: 3.2rem;
    font-weight: 500;
}

.video_card {
    min-width: 358px;

}

.video_card video {
    width: 100%;
}

.video_card h3 {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 17px;
}

.videos_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(358px, 1fr));
    gap: 48px;
}

.slider_parent_container {
    display: flex;
    max-width: 1256px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.slider_container {
    display: flex;
    gap: 37px;
    overflow: hidden;
}

.slider_card {
    min-width: 265px;
    transition: 1s ease-in-out;
}

.slider_card img {
    width: 100%;
    height: 392px;
    object-fit: cover;
}

.slider_card h3 {
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 800;
    margin-top: 17px;

}

.load_more {
    color: var(--white);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 99px;
    background: var(--red);
    border: none;
    margin-top: 51px;
    padding: 10px 20px;
    display: block;
    /* margin-right: auto; */

}

.load_more:last-child {
    margin-bottom: 74px;
    display: inline-block;
}

.footer_logo {
    width: 137px;
}

.footer_img_container {
    display: flex;
    /* margin-bottom: 35px; */
    margin-top: 46px;
    justify-content: center;
    gap: 5px;
}

.footer_img_container img {
    margin-bottom: 35px;
    border-radius: 5px;
    background: url(<path-to-image>), lightgray -1.213px -2px / 102.211% 106.818% no-repeat;
}

footer {
    background-color: var(--grey);
    /* padding-top:74px; */
}

.footer_container {
    padding-top: 114px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_list {
    display: flex;
    gap: 69px;
}

.footer_list li a {
    color: var(--grey2);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.entrance_header {
    background: url('./images/cinema-hall-interior-designing-500x500.webp');
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.entrance_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 135px;
    padding-bottom: 137px;

}

.entrance_btns {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.entrance_btns button:first-child {
    border-radius: 90px;
    border: 1px solid var(--white);
    background: rgba(217, 217, 217, 0.16);
    padding: 10px 105px;
    color: var(--red);
    font-size: 1.8rem;
    font-weight: 700;
}

.entrance_btns button:last-child {
    border-radius: 90px;
    border: 2px solid var(--red);
    background: var(--red);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px 97px;
}

.entrance_logo {
    width: 195px;
}

.login_header {
    height: 100vh;
    background-color: var(--dark);
}

.login_container h1 {
    color: var(--white);
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 128px;
}

.login_container label {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;

}

.login_container {
    padding-top: 121px;
}

.login_container div {
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.login_container form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.login_container div:nth-child(2) {
    margin-top: 23px;
    margin-bottom: 31px;
}

.login_container input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(196, 196, 196, 0.61);
    padding-bottom: 8px;
    color: var(--ag);
    font-size: 1.4rem;
    font-weight: 400;

}

.logina {
    color: var(--ag);
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 31px;
    /* margin-bottom: 188px; */
}

.login_btn {
    color: var(--red);
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 90px;
    padding: 10px 105px;
    background-color: rgba(217, 217, 217, 0.16);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 145px;
    border: 1px solid var(--white);
}

.register_header {
    height: 100vh;
    background-color: var(--dark);
}

.register_container {
    padding-top: 121px;
}

.register_container h1 {
    color: var(--white);
    font-size: 2.6rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.register_container label {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
}

.register_container div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.register_container form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.register_container input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(196, 196, 196, 0.61);
    padding-bottom: 8px;
    color: var(--ag);
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 23px;

}

.register_btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 105px;
    border-radius: 90px;
    border: 2px solid var(--red);
    background: var(--red);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 20px;
}

.login_btn {
    color: var(--red);
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 90px;
    padding: 10px 105px;
    background-color: rgba(217, 217, 217, 0.16);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid var(--white);

}

.login_container .register_btn {
    margin-top: 20px;
}

.register_container .login_btn {
    margin-top: 20px;
}


.register_err,
.login_err {
    color: var(--red);
    text-align: center;
    margin-top: 8px;
}

.svg {
    display: flex;
    gap: 20px;
}

.header_2 {

    background-color: var(--dark);
}

.div_cast {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.div_cast div {
    display: flex;
    gap: 25px;
}


.section_1 {
    display: flex;
}

.logged_container svg{
fill: var(--white);

}
.logged_container{
    display: flex;
    gap: 5px;
    align-items: center;
}
.logged_container p{
    color: var(--white);
}

.bars_icon{
    display: none;
    width: 18px;
    margin-left: 8px;
}

